{% extends "mainApp/wrapper.html" %}

{% block content %}

{% for val in  values %}
<div class="jumbotron" style="background:#f9f9f9;margin-left:14px;margin-top:17px" >
<div class="media">
  <h1><img class="mr-3" src="/static/mainApp/img/5.gif" alt="Generic placeholder image" style="height:420px;width:270px"></h1>

  <div class="media-body">
    <h2 class="mt-0" style="color:#161616" >Каждый хочет мне написать.</h2>
    <hr class="my-2">
    <p style="color:#212529">Конечно-же после продчения моих книг вы захотели мне позвонить или написать,так что вот:</br>
    <hr class="my-1">  <p style="color: #1c1c1c;">{{val}}</p></p>
  </div>
</div>
</div>
{% endfor %}

{% endblock %}
